<h1>Task-Manager !</h1>
<div class="task-container">
  <form class="task-form" (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <input type="hidden" [(ngModel)]="task.taskId" name="id" />
    <div>
      <label for="title">Title : </label>
      <input type="text" id="title" required [(ngModel)]="task.title" name="title" />
    </div>
    <div>
        <label for="description">Description : </label>
        <input type="text" id="description" required [(ngModel)]="task.description" name="description" />
      </div>
      <div>
        <label for="status">Status : </label>
        <!-- <input type="text" id="status" required [(ngModel)]="task.status" name="status" /> -->
         <select type="text" id="status" required [(ngModel)]="task.status" name="status">
            <option value="Pending">Pending</option>
            <option value="Pending">In Progress</option>
            <option value="Pending">Completed</option>
         </select>
      </div>
      <div >
        <label for="createdDate">Created Date</label>
        <input type="date" id="createdDate" class="createdDate" required [(ngModel)]="task.createdDate" name="createdDate"/>
    </div>
      <button type="submit">{{task.taskId?'Update':'Add'}} Task</button>
      <div>
    </div>
</form>
<!-- <button (click)="addTask()">Add</button>
<button (click)="editTask()">Update</button> -->
<ul class="task-list">
    <li *ngFor="let task of tasks" class="task-item">
      {{ task.title }} - {{ task.description }} - {{ task.status }} - {{ task.createdDate | date }}
      <button (click)="editTask(task)">Edit</button>
      <button (click)="deleteTask(task.taskId)">Delete</button>
    </li>
  </ul>
</div>
